<h1>{{title | summery : 160}}</h1>
<p [textContent]="title" [class.active]="isActive"></p>

<h2>{{ date | myCustomDate }}</h2>

<input [(ngModel)]="email" />
<p>{{ email | uppercase }}</p>
<p>{{ date | myCustomDate }}</p>
<app-favorite 
  [is-favorite]="post.isFavorite" 
  [users]="users"
  [getUser]="getUserAlert"
  (change)="isFavoriteChange($event)"
  (click)="likeCount($event)"
  [tweet]="tweet"
  >

  <ng-container class="heading">Hello & Welcome </ng-container>
  <div class="body">Some content here...</div>

</app-favorite>