<p>{{isFavorite}}</p>

<ul>
    <li *ngFor="let user of users">{{user.name}}</li>
</ul>
<button (click)="show()">Parent to Child</button>

<ng-content select=".heading">

</ng-content>

<ng-content select=".body">

</ng-content>

<div>
    <div *ngIf="!tweet.likes" (click)="likesCount()" style="font-size:500%;">&#9829;</div>

    <div><span *ngIf="tweet.likes" (click)="likesCount()" style="font-size:500%;color:red;">&hearts;</span></div>

{{tweet.likeCount}}
</div>


<div *ngIf="course.length > 0; then courseFound else noCourseFound">
    
</div>

<ng-template #courseFound>
    Course List Found
</ng-template>
<ng-template #noCourseFound>
    No Course List Found
</ng-template>

<h2  [class.course]="course">Hello and Welcome to Codeigsoft</h2>


<button (click)="onLoadCourse()">Load Course</button>
<button (click)="addNewCourse()">Child to Parent</button>


<ul>
    <li *ngFor="let c of courses; TrackBy courseLoad">
        {{ c.name }}
        <button (click)="onDeleteCourse(course)" 
        [ngClass]="{'course':isSet}"
        >Delete course</button>

        <!-- [ngClass]="{
            'course':isSet
        }" -->

        <!-- [class.course]="isSet" -->
    </li>
</ul>

<input type="text" appInputFormat [format]="'uppercase'">

